<header class="header" id="myHeader">
    <div class="logo">
        <img style="margin-left: -55px;" src="../../assets/logo.png" alt="">
    </div>
    <nav class="navbarr" id="navbar">
        <div class="logo hide-res-logo">
            <img src="../../assets/Group 1.png" alt="">
            <i class="fa fa-close" (click)="Close()"></i>
        </div>
        <div class="main-body-section d-flex">
            <a href="./index.html">Home</a>
            <!-- <a href="">Online Store</a> -->
            <div class="dropdown">
                <a class="dropbtn">Online Store</a>
                    <div class="dropdown-content">
                        <a href="#">B2B</a>
                        <a href="#">B2C</a>
                    </div>
            </div>

            <a routerLink="/about">About</a>
            <a routerLink="/order-process">Order Process</a>
            <a routerLink="/product-range">Product Range</a>
            <a routerLink="/contact">Contact Us</a>
            <!-- <button class="btnn">Shop Now <i class="fa fa-angle-down"></i> </button> -->
        </div>
        <div class="icons">
            <a href="https://www.instagram.com/kibriyatraders?igshid=MzRIODBiNWFIZA==" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61550001104414&mibextid=ZbWKwL" target="_blank">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a>
        </div>
    </nav>
    <i class="fa fa-bars" (click)="Open()"></i>
</header>
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
    <div class="bubble x11"></div>
    <div class="bubble x12"></div>
    <div class="bubble x13"></div>
</div>
<div class="ordermain-main">
    <div class="container">
        <div class="main-heading-grey">
            <h1>PRODUCT RANGE</h1>
            <p class="m-0" style="width: 64%;">Our core knowledge of the food industry, including spices, organic
                herbs, cooking oil, fruits, and rice etc. Regardless of the product you're looking for, our
                approach, infrastructure, network, and experience allow us to source effectively for every sector.
                Our team can help you identify products to sell online because we have the necessary industry
                knowledge.</p>
        </div>
        <div class="row" style="margin-top: 22px; margin-bottom: 22px;">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Food & Grocery">
                <div class="containerrr">
                    <img src="../../assets/food.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Food & Grocery</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Electronic">
                <div class="containerrr">
                    <img src="../../assets/electronicsjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Electronic</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Gym & Fitness">
                <div class="containerrr">
                    <img src="../../assets/لپعjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Gym & Fitness</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/لبنٹjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Coporate Gifts</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/Household appliances.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Household appliances.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/dryfruitsjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Dry Fruits</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/Kitchen fitouts.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Kitchen fitouts.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/foodpkgjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Food packaging.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/toolsjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Hardware and tools.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/bedjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Bedding and Home decoration.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6" title="Coporate Gifts">
                <div class="containerrr">
                    <img src="../../assets/stationaryjpg.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <button class="btn btn-light">View Range</button>
                        </div>
                        <h4>Stationary and office supplies.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 >Contact Info</h5>
                <div class="divv" style="margin-top: 14px;">
                    <div class="row">
                        <div class="col-lg-3 curtext">Address: </div>
                        <div class="col-lg-9 curtext">Building # R-103, Gawaliyor Society, Scheme 33, Karachi.</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">Pst.Code: </div>
                        <div class="col-lg-9 curtext">75850</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">E-Mail: </div>
                        <div class="col-lg-9 curtext"><a href="">info@kibriyatrader.com</a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">Call Us: </div>
                        <div class="col-lg-9 curtext"><a href="">03310330273</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 >Quick links</h5>
                <ul 
                    class="list-unstyled quick-links">
                    <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a routerLink="#"><i class="fa fa-angle-double-right"></i>Online Store</a></li>
                    <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a routerLink="/order-process"><i class="fa fa-angle-double-right"></i>Order Process</a></li>
                    <li><a routerLink="/product-range"><i class="fa fa-angle-double-right"></i>Product Range</a></li>
                    <li><a routerLink="/contact"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/profile.php?id=61550001104414&mibextid=ZbWKwL"
                            target="_blank"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href="https://www.instagram.com/kibriyatraders?igshid=MzRIODBiNWFIZA=="
                            target="_blank"><i class="fa fa-angle-double-right"></i>Instagram</a></li>
                    <li><a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"
                            target="_blank"><i class="fa fa-angle-double-right"></i>Linked In</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>