<header class="header" id="myHeader">
    <div class="logo">
        <img style="margin-left: -55px;" src="../../assets/logo.png" alt="">    </div>
    <nav class="navbarr" id="navbar">
        <div class="logo hide-res-logo">
            <img src="../../assets/Group 1.png" alt="">
            <i class="fa fa-close" (click)="Close()"></i>
        </div>
    <div class="main-body-section d-flex">
        <a href="./index.html">Home</a>
        <!-- <a href="">Online Store</a> -->
        <div class="dropdown">
            <a  class="dropbtn">Online Store</a>
            <div class="dropdown-content">
                <a href="#">B2B</a>
                <a href="#">B2C</a>
            </div>
          </div>
          
          <a routerLink="/about">About</a>
            <a routerLink="/order-process">Order Process</a>
            <a routerLink="/product-range">Product Range</a>
            <a routerLink="/contact">Contact Us</a>
        <!-- <button class="btnn">Shop Now <i class="fa fa-angle-down"></i> </button> -->
    </div>
    <div class="icons">
        <a href="https://www.instagram.com/kibriyatraders?igshid=MzRIODBiNWFIZA==" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61550001104414&mibextid=ZbWKwL" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
    </div>
</nav>
<i class="fa fa-bars" (click)="Open()"></i>
</header>
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
    <div class="bubble x11"></div>
    <div class="bubble x12"></div>
    <div class="bubble x13"></div>
</div>
<div class="about-main">
    <div class="container">
        <div class="main-heading-grey">
            <h1>About Us</h1>
            <h5>Your Total Business Remedy</h5>
            <h5>Located in the centre of Pakistan, Karachi is where we are based. </h5>
            <p class="m-0">Since Covid 2020, we have been assisting people around the world to meet their needs more easily and expand their home-based businesses. It is difficult for us to give them the best products for their use or businesses, but we have worked hard to build the platform that enables global sourcing and work-from-home selling solutions.
                We are service providers; we help you with product procurement, product research, and shipping to the address of your choice.
            </p>    
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-4 col-md-6">
                <div class="about-card">
                    <h4>Product Hunting & Sourcing</h4>
                    <p class="m-0">Finding the finest thing to market, sourcing it, and producing it Kibriya Trader manages and offers a full end-to-end manufacturing solution, handling everything from concept and design to sample and the production process.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-card">
                    <h4>Graphic Designing</h4>
                    <p class="m-0">We separate out from other providers because to our in-house graphic design team and expertise of your clientele. Our designers have a proven track record of producing finished products by adhering to product briefs and style manuals.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ml-auto">
                <div class="about-card">
                    <h4>Shipping & Logistics:</h4>
                    <p class="m-0">Our logistics team streamlines the entire shipment procedure. We take care of all the boring administrative procedures and provide all the goods you require. Airfreight, air cargo, LCL, and FCL are among the services. Additionally, we offer a gate-to-gate service. (from the manufacturer to the location you choose)</p>
                </div>
            </div>
        </div>
        <div class="bottom-btn">
            <button class="quote-btn">Get a Quote</button>
        </div>
    </div>
</div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Contact Info</h5>
                <div class="divv" style="margin-top: 14px;">
                    <div class="row">
                        <div class="col-lg-3 curtext">Address: </div>
                        <div class="col-lg-9 curtext">Building # R-103, Gawaliyor Society, Scheme 33, Karachi.</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">Pst.Code: </div>
                        <div class="col-lg-9 curtext">75850</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">E-Mail: </div>
                        <div class="col-lg-9 curtext"><a href="">info@kibriyatrader.com</a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">Call Us: </div>
                        <div class="col-lg-9 curtext"><a href="">03310330273</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5  >Quick links</h5>
                <ul   class="list-unstyled quick-links">
                    <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a routerLink="#"><i class="fa fa-angle-double-right"></i>Online Store</a></li>
                    <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a routerLink="/order-process"><i class="fa fa-angle-double-right"></i>Order Process</a></li>
                    <li><a routerLink="/product-range"><i class="fa fa-angle-double-right"></i>Product Range</a></li>
                    <li><a routerLink="/contact"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 >Social Links</h5>
                <ul  class="list-unstyled quick-links">
                <li><a href="https://www.facebook.com/profile.php?id=61550001104414&mibextid=ZbWKwL" target="_blank"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                <li><a href="https://www.instagram.com/kibriyatraders?igshid=MzRIODBiNWFIZA==" target="_blank"><i class="fa fa-angle-double-right"></i>Instagram</a></li>
                <li><a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank"><i class="fa fa-angle-double-right"></i>Linked In</a></li>
                </ul>
            </div>
        </div>	
    </div>
</section>