<header class="header" id="myHeader">
    <div class="logo">
        <img style="margin-left: -55px;" src="../../assets/logo.png" alt="">    </div>
    <nav class="navbarr" id="navbar">
        <div class="logo hide-res-logo">
            <img src="../../assets/Group 1.png" alt="">
            <i class="fa fa-close" (click)="Close()"></i>
        </div>
    <div class="main-body-section d-flex">
        <a href="./index.html">Home</a>
        <!-- <a href="">Online Store</a> -->
        <div class="dropdown">
            <a  class="dropbtn">Online Store</a>
            <div class="dropdown-content">
                <a href="#">B2B</a>
                <a href="#">B2C</a>
            </div>
          </div>
          
          <a routerLink="/about">About</a>
          <a routerLink="/order-process">Order Process</a>
          <a routerLink="/product-range">Product Range</a>
          <a routerLink="/contact">Contact Us</a>
        <!-- <button class="btnn">Shop Now <i class="fa fa-angle-down"></i> </button> -->
    </div>
    <div class="icons">
        <a href="https://www.instagram.com/kibriyatraders?igshid=MzRIODBiNWFIZA==" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61550001104414&mibextid=ZbWKwL" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
    </div>
</nav>
<i class="fa fa-bars" (click)="Open()"></i>
</header>
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
    <div class="bubble x11"></div>
    <div class="bubble x12"></div>
    <div class="bubble x13"></div>
</div>
<div class="ordermain-main cn">
    <div class="container">
        <div class="contact-main">
            <div class="main-heading-grey">
                <h1>CONTACT US</h1>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-lg-6 col-md-12">
                    <div class="contact-form">
                        <form  [formGroup]="fgroup" method="post">
                            <input type="text" name="firstname" id="firstname" formControlName="name" placeholder="Your Name">
                            <input type="email" name="email" id="email"  formControlName="email" placeholder="Your Email">
                            <input type="number" name="phonenumber" id="number"  formControlName="phonenumber" placeholder="Your Phone Number">
                            <input type="text" name="subject" id="subject"  formControlName="subject" placeholder="Subject">
                            <textarea cols="0" rows="0" name="message" id="message"  formControlName="message" placeholder="Your Message"></textarea>
                            <button (click)="post()" id="btn">Send</button>
                            <!-- <input type="text" placeholder="Your Message"> -->
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 br-contact">
                    <div class="info"> 
                        <h3>CONTACT INFO</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6  p-0">
                                <div class="info-card" style="margin-left: 25px;margin-right: 0;">
                                    <i class="fa fa-map-marker"></i>
                                    <h5 class="m-0">Address</h5>
                                    <p class="m-0">Building # R-103, Gawaliyor Society, Scheme 33, Karachi.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6  col-6 p-0">
                                <div class="info-card">
                                    <i class="fa fa-address-card"></i>
                                    <h5 class="m-0">Postal Code </h5>
                                    <p class="m-0">75850</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6  p-0">
                                <div class="info-card"style="margin-left: 25px; margin-right: 0;">
                                    <i class="fa fa-envelope"></i>
                                    <h5 class="m-0">E-Mail</h5>
                                    <!-- <p class="m-0">Building # R-103, Gawaliyor Society, Scheme 33, Karachi.</p> -->
                                    <a style="font-size: 13px;" href="">info@kibriyatrader.com </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6  p-0">
                                <div class="info-card">
                                    <i class="fa fa-phone"></i>
                                    <h5 class="m-0">Call Us</h5>
                                    <a style="font-size: 13px;" href="">03310330273 </a>
                                    <!-- <p class="m-0">Call Us: 03452183625.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Important link from source https://bootsnipp.com/snippets/rlXdE-->


<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 >Contact Info</h5>
                <div class="divv" style="margin-top: 14px;">
                    <div class="row">
                        <div class="col-lg-3 curtext">Address: </div>
                        <div class="col-lg-9 curtext">Building # R-103, Gawaliyor Society, Scheme 33, Karachi.</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">Pst.Code: </div>
                        <div class="col-lg-9 curtext">75850</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">E-Mail: </div>
                        <div class="col-lg-9 curtext"><a href="">info@kibriyatrader.com</a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 curtext">Call Us: </div>
                        <div class="col-lg-9 curtext"><a href="">03310330273</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5  >Quick links</h5>
                <ul   class="list-unstyled quick-links">
                    <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a routerLink="#"><i class="fa fa-angle-double-right"></i>Online Store</a></li>
                    <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a routerLink="/order-process"><i class="fa fa-angle-double-right"></i>Order Process</a></li>
                    <li><a routerLink="/product-range"><i class="fa fa-angle-double-right"></i>Product Range</a></li>
                    <li><a routerLink="/contact"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5  >Social Links</h5>
                <ul   class="list-unstyled quick-links">
                <li><a href="https://www.facebook.com/profile.php?id=61550001104414&mibextid=ZbWKwL" target="_blank"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                <li><a href="https://www.instagram.com/kibriyatraders?igshid=MzRIODBiNWFIZA==" target="_blank"><i class="fa fa-angle-double-right"></i>Instagram</a></li>
                <li><a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank"><i class="fa fa-angle-double-right"></i>Linked In</a></li>
                </ul>
            </div>
        </div>	
    </div>
</section>