@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600&display=swap');
/* @import url(https://db.onlinewebfonts.com/c/021bc4dec3aa02d937a51bdfdccc0f4d?family=Blacksword); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Red Hat Display', sans-serif;
  /* overflow-x: hidden; */

  /* overflow-y: auto !important; */
  /* overflow-x: hidden !important; */
}

body {}

.curtext {
  font-size: 14px;
  margin-bottom: 9px !important;
  color: #fff;
}

#background-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 6%;
  top: 45%;
  background: #ffb739;
}

.x2 {
  -webkit-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  background: #fc4fdd;
}

.x3 {
  -webkit-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  background: #5ed5cb;
}

.x4 {
  -webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  background: #3de4a3;
}

.x5 {
  -webkit-animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  background: #fc4fb1;
}

.x6 {
  -webkit-animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  background: #2c4aff;
}

/* .x7 {
  -webkit-animation: animateBubble 10s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 10s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  background: #ffb739;
}

.x8 {
  -webkit-animation: animateBubble 12s linear infinite,sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 12s linear infinite,sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  background: #9555d9;
} */

/* .x9 {
  -webkit-animation: animateBubble 19s linear infinite,sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 19s linear infinite,sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  background: #fff339;
}

.x10 {
  -webkit-animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  background: #fc4f4f;
} */
/* .x11 {
  -webkit-animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left: 30%;
  top: 40%;
  background: #057858;
}
.x12 {
  -webkit-animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 10%;
  background: #08a276;
}
.x13 {
  -webkit-animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 16s linear infinite,sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 60%;
  background: #0f8a67;
} */


/* OBJECTS */

.bubble {
  border-radius: 50%;
  box-shadow: none;
  height: 5px;
  position: absolute;
  width: 5px;
  animation-duration: 15s;
}

.icons a {
  padding: 0 !important;
}

body {
  overflow-x: hidden !important;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.fa-bars {
  display: none !important;
}

.fa-close {
  display: none !important;
}

.hide-res-logo {
  display: none;
}

.header {
  height: 65px;
  width: 100%;
  z-index: 11;
  border-bottom: 1px solid #ccc;
  background-color: #fbfbfb;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0px 30px;
  transition: .3s;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbarr {

  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

}

.header.scrolled {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  /* padding: 3px 60px; */
}

.header img {
  width: 175px;
  margin-top: 33px;
}

.header a {
  text-decoration: none;
  color: #717070;
  font-size: 14px;
  padding: 0px 11px;
}

.header .active {
  color: #007b5e;
  /* border-bottom: 2px solid #007b5e; */
}

.header a:hover {
  color: #302f2f;
  text-decoration: none;
}

.btnn {
  display: inline-block;
  background-color: #007b5e;
  color: rgb(254, 252, 252);
  padding: 7px 20px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  /* position: relative; */
}

.btnn:hover {
  color: #ffffff;
  background-color: #05d4ae;
}

/* Style the button */
.dropbtn {
  /* background-color: #4CAF50; */
  color: white;
  /* padding: 12px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Show the dropdown content when the button is hovered over or clicked */
.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}


.main {
  /* margin-top: 65px; */
  /* height: calc(100vh - 78px); */
  padding: 50px 0;
  overflow-x: hidden;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  position: relative;
  /* background-image: url(../Global_Network_reach-removebg-preview\ \(1\).png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: center; */
}

.main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f1f1f147;
  height: 100%;
  width: 100%;
  right: 0;
}

.main-sub {
  width: 90%;
  margin: 0px auto;
}

.headings h1 {
  color: #0c284d;
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  /* font-family: 'Blacksword'; */
  line-height: 1.2;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  /* font-family: 'Raleway',Arial,sans-serif; */
}

.headings p {
  font-weight: 400;
  font-size: 18px;
  color: #4f4e4e;
  /* font-family: 'Times New Roman', Times, serif; */
  /* border-style: solid; */
}

.btnnn {
  display: inline-block;
  font-size: 20px;
  background-color: #007b5e;
  color: rgb(254, 252, 252);
  font-weight: 400;
  padding: 10px 35px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  /* font-family: 'Times New Roman', Times, serif; */
}

.btnnn:hover {
  /* color: #717070; */
  background-color: #007b5e;
}

/* .... */
.main-2 {
  background-color: #f1f1f147;
  padding: 35px 34px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.prag h2 {
  color: #0c284d;
  font-size: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.prag p {
  font-weight: 400;
  font-size: 14px;
  color: #4f4e4e;
  line-height: 25px;
}

.card-icon i {
  font-size: 45px;
  color: #fff;
}

.card-icon {
  position: absolute;
  top: -25px;
  right: -18px;
  background: aliceblue;
  background: #007b5e;
  width: 70px;
  border-radius: 50%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-con {
  position: relative;
  background-color: #007b5e;
  padding: 15px 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  /* text-align: center; */
  margin-bottom: 20px;
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 2px solid transparent;
  /* transform: rotate(45deg); */
  transition: 0.5s;
}

.card-text {
  margin-bottom: 0;
}

.card-text h4 {
  font-size: 17px;
  font-weight: 700;
  padding: 0px 9px;
  color: #fff;
}

.card-text p {
  font-size: 14px;
  color: #fff;
  padding: 0px 9px;
  font-weight: 400;

}

.main-heading h1 {
  text-align: center;
  color: #007b5e;
  border-bottom: 3px solid #007b5e;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 4px;
  font-size: 30px;
}

.main-heading-grey h1 {
  text-align: center;
  color: #007b5e;
  border-bottom: 3px solid #007b5e;
  text-transform: uppercase;
  position: relative;
  font-size: 30px;
  padding-bottom: 4px;
}

.main-heading p {
  font-size: 14px;
}

.main-heading-grey p {
  font-size: 14px;
}

.about-main,
.ordermain-main {
  position: relative;
  /* margin-top: 65px; */
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  background-color: #fbfbfb;
}

.simple {
  padding: 40px 0;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.main-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  text-align: center;
}

.main-heading-grey {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  text-align: center;
}

.main-heading h1::before {

  content: "";
  position: absolute;
  /* top: 0; */
  right: 0;
  left: 0;
  height: 3px;
  bottom: -3px;
  width: 50%;
  background-color: #F1F1F1;
  margin: auto;
}

.main-heading-grey h1::before {

  content: "";
  position: absolute;
  /* top: 0; */
  right: 0;
  left: 0;
  height: 3px;
  bottom: -3px;
  width: 50%;
  background-color: #fff;
  margin: auto;
}

.main-heading h5 {
  font-size: 16.6px;
  margin: 7px 0;
}

.main-heading p {
  font-size: 14px;
}

.about-card {
  background: #fff;
  padding: 10px;
  border-left: 3px solid #007b5e;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  height: 170px;
}

.about-card h4 {
  color: #007b5e;
  font-size: 16px;
  font-weight: bold;
}

.about-card p {
  font-size: 12.5px;
}

.quote-btn {
  display: inline-block;
  background-color: #007b5e;
  color: rgb(254, 252, 252);
  padding: 11px 32px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 15.5px;
  border-radius: 25px;
}

.bottom-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 50vh;
  background-color: #fbfbfb;
}

.order-card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.order-card-image {
  /* width: 132px; */
  margin-right: 20px;
}

.order-card-image img {
  width: 78px;
  /* filter: invert(26%) sepia(68%) saturate(2206%) hue-rotate(148deg) brightness(92%) contrast(101%); */
  /* filter: invert(26%) sepia(68%) saturate(2206%) hue-rotate(148deg) brightness(92%) contrast(101%); */
}

.order-card-content h4 {
  font-size: 18.4px;
  font-weight: 700;
  color: #007b5e;
}

.order-card-content p {
  font-size: 13.4px;
  margin: 0;
}

.colls h2 {
  color: #007b5e;
  font-weight: 500;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.a1Show {
  display: block;
  transition: .3s;
}

.light-color::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f1f1f147;
}

.colls p {
  /* padding: 5px 10px 3px 10px; */
  color: #4f4e4e;
  margin: 0;
  font-size: 13px;
  /* line-height: 17px; */
}

.colls .kk {
  font-size: 13px;
  font-weight: 600;
  text-align: right;
  width: 89%;
  display: flex;
  text-decoration: none;
  color: #2798D0 !important;
  align-items: end;
  justify-content: end;
  cursor: pointer;
}

.colls a:hover {
  text-decoration: underline !important;
}

.a1 {
  /* display: none; */
  transition: .3s;
}

.product-main-1 {
  position: relative;
}

.product-main-1 img {
  width: 82%;
  border-radius: 15px;
  object-fit: cover;
}

.product-main-1 h1 {
  color: #b7afaf;
  position: absolute;
  top: 0;
  right: 0;
}

.product-main-1 btn {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}

.kkk .btn {
  border: 1px solid #0c284d;
  border-radius: 30px;
  padding: 8px 10px;
  color: #0c284d;
  font-size: 12px;
  font-weight: 500;
}

.kkk:hover.btn {
  background-color: #b7afaf;
}

/* 
.address {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: end !important;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);


}

.right {
  width: 192px;
  height: 506px;
  flex-shrink: 0;
  background: #007b5e;
  display: flex;

}

.left-in {
  margin-top: 17px ;

}

.left {
  width: 50%;
  background-color: #2798D0;
}

.left input {
  color: rgb(12, 40, 77);
  border: 1px solid rgb(207, 207, 207);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  padding: 20px 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.left button {
  display: inline-block;
  background-color: #007b5e;
  color: rgb(254, 252, 252);
  padding: 10px 42px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 15.5px;
  border-radius: 25px;
  margin-left: 45px;
  margin: 22px 18px;
}

.uperbox {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 114px;
  left: 192.5px;
} */

.contact-main {
  width: 100%;
  /* height: 100%; */
  /* background: #ffffff; */
  /* box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);  */
  padding: 20px;
}

.br-contact {
  border-left: 1px solid #007b5e;
}

.contact-form form input,
textarea {
  width: 100%;
  color: rgb(12, 40, 77);
  /* background-color: rgb(255, 255, 255); */
  background-color: #fbfbfb;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 400;
  padding: 13px 15px;
  /* border: 2px solid #ccc; */
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.contact-form form textarea {
  resize: none;
  font-size: 13px !important;
  height: 80px;
}

.contact-form form button {
  display: inline-block;
  background-color: #007b5e;
  color: rgb(254, 252, 252);
  padding: 10px 42px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 15.5px;
  border-radius: 25px;
  margin-top: 15px;
  /* margin-left: 45px; */
  /* margin: 22px 18px; */
}

@keyframes kipple {
  0% {
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(30, 125, 169, 0.1), 0 0 0 0.4em rgba(30, 125, 169, 0.1), 0 0 0 0.6em rgba(30, 125, 169, 0.1), 0 0 0 0.8em rgba(30, 125, 169, 0.1);
  }

  100% {
    border-radius: 50%;
    box-shadow: 0 0 0 0.4em rgba(30, 125, 169, 0.1), 0 0 0 0.6em rgba(30, 125, 169, 0.1), 0 0 0 0.8em rgba(30, 125, 169, 0.1), 0 0 0 1em rgba(30, 125, 169, 0);
  }
}

.main-2::before {
  position: absolute;
  content: "";
  animation: kipple 1s linear infinite;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  z-index: -1;
  top: 130px;
  left: 600px;
  font-size: 120px;
  opacity: 0.4;
}

.cn::before {
  position: absolute;
  content: "";
  animation: kipple 1s linear infinite;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  z-index: 2;
  top: 130px;
  left: 130px;
  font-size: 120px;
  opacity: 0.4;
}

.cn::after {
  position: absolute;
  content: "";
  animation: kipple 1s linear infinite;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  z-index: 2;
  bottom: 195px;
  right: 130px;
  font-size: 105px;
  opacity: 0.4;
}

.info {
  /* width: 70%; */
  height: 100%;
  background-color: #fbfbfb;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.info h3 {
  color: #007b5e;
  margin-left: 13px;
  /* border-bottom: 1px solid #ccc; */
  padding: 5px 0;
  text-align: center;
  /* border: 2px solid; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  border-radius: 4px;
  font-size: 22px;
}

.info p {
  font-size: 13px;
  font-weight: 400;
  /* padding: 13px 15px; */
  color: rgb(12, 40, 77);
}

.icons i {
  font-size: 24px;
  padding: 0 4px;
  cursor: pointer;
  color: #007b5e;
}

.info-card {
  /* border: 2px solid #007b5e; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  margin: 0 14px;
  border-radius: 4px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 7px;
}

.info-card i {
  color: #007b5e;
  font-size: 34px;
  margin-bottom: 6px;
}

.info-card h5 {
  font-size: 16px;
  margin: 7px 0 !important;
}

/* Footer */
/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: #007b5e !important;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  #footer .col-md-4 {
    text-align: left !important;
    margin-bottom: 14px;
  }
}

.containerrr {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.dn-on {
  display: none !important;
}

.image {
  opacity: 1;
  object-fit: fill;
  display: block;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  transition: all ease 1s;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerrr:hover .image {
  opacity: 0.7;
  scale: 1.1;
}

.containerrr:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: #04AA6D; */
  color: white;
}

.dn-off {
  display: block !important;
}

.text btn {
  padding: 16px 32px;
  font-size: 13px;
  background: transparent;

}

.containerrr h4 {
  font-size: 14px;
  background: #007b5e;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  position: absolute;
  top: 245px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-lg-3 {
  margin-bottom: 22px;
}

.quote-btn:hover,
.btnn:hover {
  animation: effect 0.3s infinite;
}

@keyframes effect {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    transform: translateX(-4px) rotate(-4deg);
  }

  40% {
    transform: translateX(-2px) rotate(-2deg);
  }

  60% {
    transform: translateX(4px) rotate(4deg);
  }

  80% {
    transform: translateX(2px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@media(max-width: 1260px) {
  .headings h1 {
    font-size: 43px;
  }

  .headings p {
    font-size: 15px;
  }

  .carousel-item {
    height: 305px !important;
  }

  .w-80 {
    width: 90% !important;
  }
}

@media(max-width: 1199px) {
  .prag h2 {
    font-size: 23.5px !important;
  }

  .prag p {
    font-size: 12px !important;
  }

  .main-heading h1,
  .main-heading-grey h1 {
    font-size: 25px;
  }

  .colls h2 {
    font-size: 18.5px;
  }

  .colls p {
    font-size: 11px;
  }

  .main-heading h5,
  .main-heading-grey h5 {
    font-size: 1rem;
  }

  .main-heading p,
  .main-heading-grey p {
    font-size: 11.8px;
  }

  .about-card p {
    font-size: 11.5px;
  }

  .order-card-image img {
    width: 70px;
  }

  .order-card-content h4 {
    font-size: 16.5px;
  }

  .order-card-content p {
    font-size: 12px;
  }

  .containerrr {
    height: 265px;
  }
}

@media(max-width: 991px) {
  .navbarr {
    display: flex;
    flex-direction: column;
    top: 0;
  }

  .main-body-section {
    flex-direction: column;
    color: #ffff;
    flex: 1;
  }

  .main-body-section a {
    color: #ffff;

  }

  .main-body-section .active a {
    color: #c21010;

  }

  .headings h1 {
    font-size: 34px;
  }

  .headings p {
    font-size: 11px;
  }

  .main-body-section {
    width: 100%;
  }

  .carousel-item {
    height: 285px !important;
  }

  .hide-res-logo {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 7px;
  }

  .hide-res-logo img {
    margin-top: 0;
    width: 55px !important;
  }

  .hide-res-logo i {
    color: #fff;
    font-size: 30px;
    margin-top: -1px;
  }

  .header a {
    /* width: 50%; */
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
  }

  .header .active {
    background-color: #fff;
    border-bottom: 1px solid #007b5e;
    color: #007b5e;
  }

  .br-contact {
    border-left: 0 !important;
  }

  .quote-btn {
    font-size: 13px;
  }

  .w-80 {
    display: none;
  }

  .prag {
    text-align: center;
  }

  .prag p {
    font-size: 11px !important;
  }

  .ml-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .card-icon {
    display: none;
  }

  .row-ml {
    margin: 19px 0 !important;
  }

  .colls h2 {
    font-size: 16.5px;
  }

  .colls p {
    font-size: 9.5px;
  }

  .colls {
    margin-bottom: 8px;
  }

  .dn-on {
    display: block !important;
  }

  .dn-off {
    display: none !important;
  }

  .about-card {
    margin-bottom: 13px;
    text-align: center;
  }

  #btn {
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fa-bars {
    display: block !important;
    cursor: pointer;
    color: #007b5e;
    font-size: 23px !important;
  }

  .fa-close {
    display: block !important;
    cursor: pointer;
  }

  .navbarr {
    position: fixed;
    height: 1000%;
    width: 250px;
    transition: .4s;
    background: #007b5e;
    right: -250px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  }

  .navbarr.open {
    right: 0;
  }

  .dn-oon {
    display: none !important;
  }

  .dn-ooff {
    display: block !important;
  }

  .header .active {
    color: #007b5e;
    /* border-bottom: 2px solid #007b5e; */
  }

  .containerrr .image {}

  .main-2::before {
    left: 0;
  }
}

.dn-oon {
  display: block !important;
}

.dn-ooff {
  display: none !important;
}

.img-none {
  display: block !important;
}

.modal-input {
  width: 100%;
  color: rgb(12, 40, 77);
  /* background-color: rgb(255, 255, 255); */
  background-color: #fbfbfb;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 400;
  padding: 13px 15px;
  /* border: 2px solid #ccc; */
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

@media(max-width: 767px) {

  /* * {
    overflow-x: hidden !important;
    overflow-y: hidden;
  } */
  #carouselExampleIndicators {
    display: none;
  }

  .pr-none {
    padding-right: 0 !important;
  }

  .main {
    height: 100%;
    padding: 50px;
  }

  .main-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .headings h1 {
    font-size: 40px;
  }

  .headings p {
    font-size: 13.8px;
  }

  .quote-btn {
    font-size: 11px;
  }

  .prag h2 {
    font-size: 21.5px !important;
  }

  .prag p {
    font-size: 12px !important;
  }

  /* .card-icon {
    display: block;
  } */
  .img-none {
    display: none !important;
  }

  .info-card {
    padding: 0 15px;
  }

  .info-card i {
    color: #007b5e;
    font-size: 28px;
    margin-bottom: 6px;
  }

  .info-card p {
    font-size: 11px;
  }

  .info-card h5 {
    font-size: 13px;
    margin: 7px 0 !important;
  }

  .info-card p a {
    font-size: 11px;
  }
}

@media(max-width: 576px) {
  .headings h1 {
    font-size: 33px;
  }

  .headings p {
    font-size: 12px;
  }

  .prag h2 {
    font-size: 17.5px !important;
  }

  .prag p {
    font-size: 11px !important;
  }

  .pr-none {
    padding-right: 0 !important;
  }
}

@media(max-width: 410px) {
  .headings h1 {
    font-size: 29px;
  }

  .headings p {
    font-size: 11px;
  }

  .prag h2 {
    font-size: 16.5px !important;
  }

  .prag p {
    font-size: 11px !important;
  }

  .pr-none {
    padding-right: 0 !important;
  }

  .card-text h4 {
    font-size: 14px;
  }

  .card-text p {
    font-size: 11px;

  }
}

.main-3 {
  padding: 25px 8px;
  background-color: #f1f1f147;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.cummint-card {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #dfdbdb;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
  border-radius: 10px;
  position: relative;
  left: 50px;
}

.cummint-card .position {
  position: absolute;
  top: 22px;
  left: -15px;
  /* top: 40px; */
  background: #007b5e;
  border-radius: 30px;
  height: 50px;
  width: 265px;
  border-bottom-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cummint-card  .position::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 0px;
  width: 15px;
  height: 30px;
  background: #004837;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 2;
}

.cummint-card  .position::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 0px;
  width: 15px;
  height: 12px;
  background: #007b5e;
}
.cummint-card p{
  font-size: 12.5px;
  margin-top: 60px;
  
}
.cummint-card .position h4{
  color: #ffffff;
  letter-spacing: 1px;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow' ; */
}
/* .main-4{
  padding: 25px 0px !important;
  background-color: #f1f1f147;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.bt {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  padding-top: 15px ;
}

.bt button{
  display: inline-block;
  background-color: #007b5e;
  color: rgb(254, 252, 252);
  padding: 17px 38px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 16.5px;
  border-radius: 35px;
}
.bt button:hover{
  animation: effect 0.3s infinite;
  
}